@using DeliveryShop.Database.Models
@{
    ViewData["Title"] = "Home Page";
    var allPrice = ViewBag.AllPrice;
    List<Baskets> list = Model;
}
<link href="~/css/order.css" rel="stylesheet"/>
<div class="container-body">
    
    
   
</div>