@using DeliveryShop.Database.Models
@{
    ViewData["Title"] = "Home Page";
    List<Products> list = Model;
}
<link href="~/css/log.css" rel="stylesheet" />
<div class="main">
    <h1 class="mb-4">Авторизация</h1>
    <div class="tab-content">
        <div class="tab-pane fade show active">
            <form>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="login" name="login" id="loginName" class="form-control" required/>
                    <label class="form-label" for="loginName">Логин или почта</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="loginPassword" class="form-control" required/>
                    <label class="form-label" for="loginPassword">Пароль</label>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="form-check mb-3 mb-md-0">
                            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                            <label class="form-check-label" for="loginCheck">Запонмить</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark btn-block mb-4 w-100" formmethod="post" asp-action="Log" asp-controller="Profile">Войти</button>
                <div class="text-center">
                    <p>Впервые на сайте? <a formmethod="get" asp-action="Reg" asp-controller="Registration">Регистрация</a></p>
                </div>
            </form>
        </div>

    </div>
</div>

