@using DeliveryShop.Database.Models
@{
    ViewData["Title"] = "Home Page";
    List<Products> list = Model;
}
<link href="~/css/log.css" rel="stylesheet" />
<div class="main">
    <h1 class="mb-4">Выход из аккаунта</h1>
    <p>Вы уверены что хотите выйти?</p>
    <form method="post">
        <button class="btn btn-outline-dark" type="submit" asp-controller="Profile" asp-action="LogOut">Выйти</button>
        <button class="btn btn-outline-dark" type="submit" formmethod="get" asp-controller="Home" asp-action="Index">Отмена</button>
    </form>
</div>