@using DeliveryShop.Database.Models
@{
    ViewData["Title"] = "Home Page";
    List<Products> list = Model;
}
<link href="css/index.css" rel="stylesheet" />
<div class="main">
	<h1>Каталог</h1>
	<ul class="products clearfix">
		@{
			foreach (var item in list)
			{
				<li class="product-wrapper">
					<a href="" class="product">
						<div class="product-photo">
							<img alt="" src="@item.Image" style="height: 100%"/>
						</div>
						
						<div class="product-info">
							<span>@item.Name</span>
						</div>
						<form method="post">
							<input id="id" name="id" type="number" value="@item.Id"/>
							<div class="bottom-absolute">
								<div class="product-price">
									<span class="price">@item.Price ₽</span>
								</div>
								<button class="btn-basket btn btn-outline-dark btn-lg" type="submit" asp-action="AddToCart">В корзину </button>
							</div>
						</form>
					</a>
				</li>
			}
		}
	</ul>
</div>