.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}
@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}
.icon-button {
    background: none; 
    border: none; 
    padding: 0; 
}
.non-info{
    margin: auto;
}
.icon-button:hover .icon-favorite {
    color: red;
}
.main-container{
    
}
.container-favorite{
    z-index: 1;
    position: absolute;
    top:2%;
    right: 2%;
}
.bottom-absolute{
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 100%;
}
.btn-basket{
    margin-bottom: 5%;
    width: 90%;
    left: 5%;
}
.product-price{
    bottom: 0;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:10%
}
.product-price span{
    font-size: 30px;
    font-family: "Berlin Sans FB";
    color: black;
}
.product:active,
.product:hover,
.product{
        text-decoration: none;
        color: #666;
}
.product-info{
    display: flex;
    justify-content: center;
    font-family: "Arial Black";
}
.product-info span{ 
}
.product {
    display: block;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 320px;
}
.products {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
}
.product-photo {
    padding-top: 5%;
    padding-bottom: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.like_favorite {
    display: contents;
}
.product-photo img {
    height: 100%;
    transition: transform .4s ease-out;
}
.product:hover .product-photo img {
    transform: scale(1.05);
}
#id{
    display: none;
}
.info-text {
    display: flex;
    flex-direction: column;
}

