.main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}
.form-button button{
    margin-top: 10px;
    width: 100%;
}
.form-button
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    gap: 10%;
}