.panel{
    background-color: white;
    margin:  auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    height: 60%;
    padding-top: 10%;
    border-radius: 3px;
    gap: 10%;
}
.info-product{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 30px;
}
.picture{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 45%;
}
.picture img{
    height: 50%;
}
.main-container{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
}
.price-buttons{
    width: auto;
    padding: 2%;
    flex-direction: row;
    display: flex;
    justify-content: end;
    align-content: end;
    gap: 10%;
    background-color: #DEDEDE;
    border-radius: 5px;
}
.item-info
{
    gap: 100px;
    display: flex;
    flex-direction: row;    
}
.icon-button {
    background: none;
    border: none;
    padding: 0;
}
.icon-button:hover .icon-favorite {
    color: red;
}
.product-price{
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:10%;
    margin-right: 10%;
}
.product-price span{
    font-size: 30px;
    font-family: "Berlin Sans FB";
    color: black;
}