<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RottenRun</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RottenRun.styles.css" asp-append-version="true"/>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" asp-append-version="true">
    </head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RottenRun</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <div class="nav-link d1">
                            <form class="form-search" method="get" asp-controller="Home" asp-action="Index">
                                <input id="searchText" name="textSearch" required type="text" placeholder="Искать здесь...">
                                <button class="btn btn-dark" type="submit">
                                    <span class="fa fa-search "></span>
                                </button>
                            </form >
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Продукты</a>
                    </li>
                    <li class="main_c nav-item">
                    <a class="nav-link text-dark favorite-container" asp-controller="Basket" asp-action="Index">
                        <p>Корзина</p>
                        <i class="icon fa fa-shopping-basket fa-2x"></i>
                    </a>
                    <a class="nav-link text-dark favorite-container" asp-controller="Home" asp-action="Privacy">
                        <p>Избранное</p>
                        <i class="icon fa fa-heart fa-2x"></i>
                    </a>
                    <a class="nav-link text-dark favorite-container" onclick="clickProfile()">
                        <p>Профиль</p>
                        <i class="icon fa fa-user fa-2x"></i>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="containerProfile" class="container-profile" style="height: 80vh">
    <div class="profile-modal">
            <form class="modal-content-profile" id="contentProfile" method="get">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-user">
                    </i>
                      Аккаунт
                </button>
                <button class="btn btn-outline-secondary" type="submit" >
                    <i class="fa fa-barcode" style="margin-right:4px ">
                    </i>Заказы
                </button>
                <button class="btn btn-outline-dark" type="submit" asp-action="LogOut" asp-controller="Profile">Выйти</button>
            </form>
    </div>
</div>
<div class="container mt-3" style="height: 80vh">
    <main role="main" class="pb-3" style="height: 100%">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>