@using DeliveryShop.Database.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
@{
    Users _user = null;
    if(Context.Request.Cookies.ContainsKey("user"))
        _user = JsonConvert.DeserializeObject<Users>(Context.Request.Cookies["user"]);
}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RottenRun</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RottenRun.styles.css" asp-append-version="true"/>
    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" asp-append-version="true">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 header-list">
                    <img src="~/source/logo.png" width="60rem"></img>
                    <li class="nav-item" style="width: 15%">
                        <div class="nav-link d1" >
                            <input id="searchText" name="textSearch"  type="text" placeholder="Искать здесь...">
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Продукты</a>
                    </li>
                    <li class="main_c nav-item">
                    <a class="nav-link text-dark favorite-container" asp-controller="Basket" asp-action="Index">
                        <p class="mb-0">Корзина</p>
                        <i class="icon fa fa-shopping-basket fa-2x mt-0"></i>
                    </a>
                    <a class="nav-link text-dark favorite-container mt-0" asp-controller="Favorite" asp-action="Index">
                        <p class="mb-0">Избранное</p>
                        <i class="icon fa fa-heart fa-2x"></i>
                    </a>
                    <a class="nav-link text-dark favorite-container mt-0" onclick="clickProfile()">
                        <p class="mb-0">Профиль</p>
                        <i class="icon fa fa-user fa-2x"></i>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="containerProfile" class="container-profile" style="height: 80vh">
    <div class="profile-modal">
        @{
            if (_user != null)
            {
                <form class="modal-content-profile" id="contentProfile" method="get">
                    <div class="profile-info">
                        <span class="span-name" >@_user.Name</span>
                        <span class="span-email">@_user.Email</span>
                    </div>
                    <button class="btn btn-outline-secondary" type="submit" asp-action="Index" asp-controller="Profile">
                        <i class="fa fa-user">
                        </i>
                        Аккаунт
                    </button>
                    <button class="btn btn-outline-secondary" type="submit" asp-action="Index" asp-controller="Order">
                        <i class="fa fa-barcode" style="margin-right:4px ">
                        </i>Заказы
                    </button>
                    <button class="btn btn-outline-dark" type="submit" asp-action="LogOut" asp-controller="Profile">Выйти</button>
                </form>
            }
            else
            {
                <form class="modal-content-profile" id="contentProfile" method="get">
                    <button class="btn btn-outline-dark" type="submit" asp-action="Log" asp-controller="Profile">Войти</button>
                </form>
            }
        }
        
    </div>
</div>
<div class="container mt-3" style="height: 80vh">
    <main role="main" class="pb-3" style="height: 100%">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>